body {
    text-align:center;
    margin: 0 auto;
}

.homeTitle {
  margin: 0rem;
  padding-top: 14rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 3.25rem;
  color: white;
  text-align: center;
  text-shadow: .25rem .25rem black;
}

.homeSubTitle {
  margin: 0rem;
  padding-top: 1rem;
  padding-bottom: 30rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 3rem;
  color: white;
  text-align: center;
  text-shadow: .25rem .25rem black;
}

ul {
    list-style-type: none;
}

.up-arrow {
  cursor: pointer !important;
}

.down-arrow {
  cursor: pointer !important;
  margin-top: -8px !important;
}
.bookMainView{
    color: black;
}

.page {
    height: 100vh;
    width: 100vw;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  padding: .25rem;
}

.headerCol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem
}

.tableView{
 padding: 0;
 margin: auto;
 display: flex;
 justify-content: center;

}

.tableData{
  font-size: .75rem;
  padding: .3rem;
  border: 1px solid #2f2d2d;
}

.tableBar{
  background-color: #5fbdfb;
}

.subViewInfo{
  display: flex;
  flex-direction: row;
  text-align: start;
}

.subViewCol {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.subViewTable{
 display: flex;
 flex-direction: column;
 margin: auto;
 border: solid 1px black;
 padding: 1rem;
}

.subViewBook{
  display: flex;
  flex-direction: column;
}

